* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #ecfdf5;
  scroll-behavior: smooth;
}

header {
  color: #236452;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-size:x-large;
}

header h1 {
  margin: 0;
}

header nav ul {
  display: flex;
  list-style-type: none;
  /* background-color: #000000; */

}

header nav ul li {
  margin-right: 1rem;
}

header nav a {
  color: #236452;
  text-decoration: none;
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.carousel-caption
{
  font-size: xx-larger;
}
main section {
  background-color: #f2f2f2;
  flex-basis: 30%;
  padding: 1rem;
  margin: 1rem;
}

main section h2 {
  margin: 0 0 1rem;
}
.left {
  width: 20%;
  display: flex;
  flex-direction: row;
  color: #236452;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
  margin-left: 5%;
}
.left a {
  width: 60%;
  display: flex;
  flex-direction: row;
  color: #236452;
  text-decoration: none;
}
.right {
  margin-left: -25%;
}
body main {
  margin-top: 7%;
  color: #236452;
  font-size: xx-large;
  align-items: center;
  justify-content: center;
  display: block;
}
body main span {
  display: block;
  text-align: center;
}
body main h3 span {
  display: block;
  color: #65a30d;
  font-size: 22px;
  font-weight: 400;
}
button {
  width: 360px;
  height: 57px;
  border-radius: 4px;
  background-color: #65a30d;
  border: none;
  color: #ecfdf5;
  font-weight: 600;
  font-size: 18px;
  display: block;
  margin: auto;
  margin-top: 20px;
}
section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 7rem;
  border-radius: 10px;
  align-self: center;
}
section image {
  height: 719px;
  border-radius: 10px;
  width: 800px;
}
#image {
  border-radius: 17px;
}
#commitment {
  display: block;
  align-self: center;
  align-items: center;
  color: #236452;
}
#commitment h3 {
  display: block;
  font-weight: 700;
  font-size: 28px;
  color: #65a30d;
  align-self: center;
  margin-left: 0rem;
  text-align: center;
}
#commitment span {
  margin: 10px;
  display: block;
  font-weight: 400;
  font-size: 38px;
  color: #059669;
  align-self: center;
  line-height: 55.6px;
  align-self: center;
  display: block;
  text-align: center;
}
.card {
  display: block;
}
.img img {
  width: 512px;
  height: 320px;
  border-radius: 16px;
}
.detail {
  width: 512px;
  height: 320px;
}
.detail h1 {
  padding-left: 5rem;
  font-weight: 700;
  font-size: 51px;
  size: 51px;
  line-height: 61.2px;
  color: #064e3b;
}
.sub {
  padding-left: 5rem;
  font-weight: 400;
  size: 18px;
  line-height: 25.2px;
  color: #059669;
}
#image {
  transform: scale(0.6);
}
.cardabout {
  transform: scale(0.7);
}
#benifits {
  transform: scale(0.6);
}
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4caf50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,
.form button:active,
.form button:focus {
  background: #43a047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4caf50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before,
.container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #ef3b3a;
}
body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
footer {
  background-color: #ecfdf5;
  margin: 0 0 0 0;
  padding: 0 auto;
}
footer ul {
  list-style-type: none;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  padding: 28px 0;
}
footer li {
  display: inline;
  padding: 0 16px;
}
footer li a {
  color: #064e3b;
  text-decoration: none;
}
footer li a:hover {
  text-decoration: underline;
}
.detail a {
  width: 360px;
  height: 57px;
  border-radius: 4px;
  background-color: #65a30d;
  border: none;
  color: #ecfdf5;
  font-weight: 600;
  font-size: 18px;
  display: block;
  margin: auto;
  margin-top: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.xyz a {
  width: 360px;
  height: 57px;
  border-radius: 4px;
  background-color: #65a30d;
  border: none;
  color: #ecfdf5;
  font-weight: 600;
  font-size: 18px;
  display: block;
  margin: auto;
  margin-top: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
